# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\source-code work\micro-item\microservices-all\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
